// 默认字体大小
$global-font-size: 12px;
// 模块全屏后默认字体大小
$global-font-size-fullscreen: 42px;
// 模块标题字体大小
$panel-title-font-size: 21px;
// 模块标题字体大小
$panel-title-font-size-fullscreen: 63px;
// 标题栏高度
$panel-title-height: 40px;
// 模块全屏后标题栏高度
$panel-title-height-fullscreen: 120px;
// 可拖动窗口边角长度
$resize-panel-corner-length: 5px;
// 较亮字体颜色
$global-color-light: #46fbfb;
// 默认字体颜色
$global-color: #fff;
// 未处理告警
$alarm-status-color_processing: #05758f;
// 已处理告警
$alarm-status-color_solved: #258a18;
// 未处理告警 (高亮)
$alarm-status-color-light_processing: #1ebddf;
// 已处理告警 (高亮)
$alarm-status-color-light_solved: #2ce614;
// 滚动条索道颜色
$scrollbar-track-shadow: rgba(0, 0, 0, 0.1);
// 滚动条背景
$scrollbar-bg: transparent;
// 滚动条里面小方块
$scrollbar-thumb: rgba(13, 252, 254, 0.6);
